@import "tailwindcss";

@font-face {
  font-family: "Tauri";
  src: url("./Tauri-Regular.ttf");
  font-weight: 400;
}

:root {
  font-family: Tauri, sans-serif;
  font-size: 1.1rem;
  line-height: 1.2;
  font-weight: 400;

  color: var(--color-gray-100);
  background-color: var(--color-gray-800);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;

  user-select: none;
  -webkit-user-select: none;
}

html,
body,
#root {
  @apply w-full h-full m-0 p-0;
}

img {
  -webkit-user-drag: none;
}

kbd {
  @apply text-neutral-600 bg-neutral-400 px-1 rounded-sm;
}

@layer components {
  button {
    @apply font-medium select-none cursor-pointer;
  }
}
